body  {background-color: black;
    margin-top: -21px;
    color:grey;
    font-weight: 600;
    line-height: 175%;
}

#name {
    text-align: center;
    height: 150px;
    padding: 20px;
    font-size: 100%;
    letter-spacing: 1px;
    font-weight: 900;
    margin-bottom:0px;
    margin-top:0px;
    background-color: WhiteSmoke;

}

.img_hotel{
    margin-right: 10px;
    margin-bottom: 10px;
    width: 180px;
    height: 150px;
}

#desc1 {
    text-align: center;
    height: 150px;
    padding: 20px;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom:0px;
    margin-top:0px;
    background-color: WhiteSmoke;
}

#desc2 {
    text-align: center;
    height: 150px;
    padding: 20px;
    font-size: 100%;
    letter-spacing: 1px;
    margin-bottom:0px;
    margin-top:0px;
}